<!DOCTYPE html>
<html>
<head>
  <title>UsersApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UsersApp</a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_path, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <span class="glyphicon glyphicon-user"></span> New user
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container main-container">

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end -%>

    <%= yield %>
  </div>

</body>
</html>
